@media print {
  .navbar
  .blur
  .sidebar
  .pdfIcon
  .page-nav-wapper
  .footer
  .buttons{
    display: none
  }

  .content-wrapper{
    display: block
    margin-top: -80px
  }

  .page-edit > div:nth-child(1){
    display:none;
  }
}
